:root {
    --primary-color: #F1CDB3;
    --primary-color-light: #FDDCC4;
    --dark-color: #292929;
    --dark-color-light: #545454;
}
@font-face {
    font-family: Arial, sans-serif;
    src: url("../../assets/fonts/arial.ttf");    
}
@font-face {
    font-family: Georgia, serif;
    src: url('../../assets/fonts/Georgia.ttf');   
}

html {
    scroll-behavior: smooth;
}

*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.container {
    margin: 0 auto;
    padding: 0 40px;
    width: 1280px;
}
.main-start-screen {
    padding-top: 60px;
    background-image: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);

}
/* Header */
.header {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: block;
    text-decoration: none;
}
.logo-title {
    margin-bottom: 10px;
    font-size: 32px;
    font-family: Georgia, serif;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: var(--primary-color);
}
.logo-subtitle {
    font-size: 13px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #fff;
    text-align: center;
}
.nav-link {
    color: #cdcdcd;
    line-height: 1.6;
    text-decoration: none;
}
.nav-link:not(:first-child) {
    margin-left: 32px;
}
.nav-link:hover {
    color: #fafafa;    
}
.nav-link.active {
    padding-bottom: 3px;
    color: #fafafa;
    border-bottom: 3px solid var(--primary-color); 
}

/* Not only block */
.notonly {
    display: flex;
    justify-content: space-between;
}
.notonly-content {
    margin-top: 163px;
    width: 460px;
}
.notonly-title {
    margin-bottom: 42px;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
    font-family: Georgia, serif;
}
.notonly-text {
    margin-bottom: 42px;
    color: #cdcdcd;
    line-height: 1.6;
}

/* Buttons */
.btn {    
    border-radius: 100px;
    transition: all 0.2s linear;
}
a.btn{
   display: inline-block;
   text-decoration: none;
   font-size: 17px;
   font-family: Georgia, serif;
   line-height: 1.3;
   letter-spacing: 0.06em;
   color: var(--dark-color);
}
.btn--primary {
    padding: 15px 45px;
    background-color: var(--primary-color);
}
.btn--outline {
    padding: 13px 43px;
    background-color: #fff;
    border: 2px solid var(--primary-color);
}
.btn--nav {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid var(--primary-color);
}
.btn--nav.inactive {
    border: 2px solid #cdcdcd;
    pointer-events: none;
}
.btn--nav.inactive p {
    color: #cdcdcd;
}
.btn--outline:hover,
.btn--nav:hover,
.btn--nav.active {
    background-color: var(--primary-color-light);
    border: 2px solid var(--primary-color-light);
    cursor: pointer;
}
.btn--nav.active:hover {
    border: 2px solid var(--primary-color);
}
.btn--bank {
    padding: 10px 15px;
    background-color: var(--primary-color); 
    border-radius: 9px;
}
.btn--primary:hover,
.btn--bank:hover {
    background-color: var(--primary-color-light);
    cursor: pointer;
}

/* Main blocks */
/* About section */
.about {
    padding: 80px 0 100px;
}
.about-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.about-content {
    width: 430px;
}
.section-title {
    font-family: Georgia, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: var(--dark-color-light);
}
.about-text {
    line-height: 1.6;
    color: #4c4c4c;
}
p.about-text:not(:last-child) {
    margin: 25px 0;
}

/* Our friends */
.ourfriends {
    padding: 80px 0 100px;
    background-color: #f6f6f6;
}
.ourfriends-inner {
    text-align: center;
}
.ourfriends-slider {
    margin: 60px 0 66px;
    position: relative;
}
.ourfriends-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.ourfriends-slider-wrapper {
    margin: 0 auto;
    display: flex;
    gap: 90px;
    width: 990px;
    overflow: hidden;
}
.ourfriends-card {
    width: 270px;
    height: 430px;
    background-color: #fafafa;
    border-radius: 9px;
    transition: all 0.2s linear;
}
.ourfriends-card:hover {
    background-color: #fff;
    cursor: pointer;
}
.ourfriends-card:hover .btn--outline {
    background-color: var(--primary-color-light);
    border: 2px solid var(--primary-color-light);
    cursor: pointer;
}
.ourfriends-pet-name {
    margin: 25px 0 30px;
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--dark-color-light);
}

/* Help */
.help-inner {
    padding: 80px 0 103px;
    text-align: center;
}
.help-container {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
}
.help-item img {
    margin-bottom: 29px;
}
.help-item p {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.06em;
    color: var(--dark-color-light);
    white-space: nowrap;
}

/* In addition section */
.inaddition {
    padding: 80px 0 100px;
    background-color: #f6f6f6;
}
.inaddition-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.inaddition-content {
    width: 380px;
}
.inaddition-bank-title {
    margin: 20px 0;
    font-family: Georgia, serif;
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: var(--dark-color-light);
}
.inaddition-credit-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    align-items: center;
}
.inaddition-credit-card > span {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: var(--dark-color-light);
}
.inaddition-bank-text {
    margin-top: 20px;
    font-style: italic;
    font-size: 12px;
    line-height: 1.5;
    color: #b2b2b2;
}

/* Footer */
footer {
    padding-top: 40px;
    background-image: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}
.footer-inner {
    display: flex;
    justify-content: space-between;
}
.footer-contact {
    width: 279px;
    padding-top: 17px;
}
.footer-address {
    width: 302px;
    padding-top: 17px;
}
footer .section-title {
    color: #fff;
}
.footer-item {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
    align-items: center;
    grid-gap: 20px;
}
.footer-item > a {
    font-family: Georgia, serif;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    text-decoration: none; 
}
.footer-contact .footer-item:first-of-type {
    margin: 40px 0;
}
.footer-address .footer-item:first-of-type {
    margin: 34px 0 32px;
}

/* Burger */
.burger-container {
    display: none;
}

/* Media query */
@media (max-width: 1279px){
    .container {
        padding: 0 30px;
        width: 100%;
        min-width: 768px;
    }    
    .main-start-screen {
        padding-top: 30px;
    }
    /* Not only block */
    .notonly {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 100px;
    }
    .notonly-content {
        margin-top: 0;
    }
    .notonly > img {
        height: 593px;
        width: 569px;
        align-self: flex-end;        
    }
    .notonly-content > a.btn {
        display: block;
        margin: 0 auto;
        width: 210px;
    }
    /* About section */
    .about-inner {
        flex-direction: column-reverse;
        gap: 80px;
    }
    /* Our friends */
    .ourfriends-slider-wrapper {
        width: 580px;
        gap: 40px;
    }
    /* Help */
    .help-container {
        column-gap: 47px;
    }
    .help-item {
        width: 26%;
    }
    /* In addition section */
    .inaddition-inner {
        flex-direction: column-reverse;
        gap: 60px;
    }
    /* Footer */
    footer {
        padding-top: 30px;
    }
    .footer-inner {
        justify-content: center;
        flex-wrap: wrap;
        gap: 65px 60px;
    }
    .footer-contact,
    .footer-address {
        padding-top: 0;
    }
}

@media (max-width: 767px){
    .container {
        padding: 0 10px;
        min-width: 320px;
    }
    /* Header */
    nav {
        display: none;
    }
    nav.nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 320px;
        padding: 70px 10px 248px;
        background-color: var(--dark-color);
        position: absolute;
        right: 0;
        top: 120px;
        z-index: 10;
    }
    nav.nav.white-back {
        background-color: #fff;
    }
    .nav-link {
        font-size: 32px;
        text-align: center;
    }    
    .nav-link:not(:first-child) {
        margin-left: 0;
    }
    .burger-container {
        display: block;
    }
    .burger-container > .logo {
        display: none;
    }
    .dark-layer {
        display: none;
    }
    .burger-container > .burger {
        margin-right: 43px;
        align-self: center;  
        transition: transform 0.2s linear;      
    }
    .burger-container.dark {
        display: flex;
        justify-content: space-between;
        padding: 30px 10px;
        width: 320px;
        background-color: var(--dark-color); 
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
    }
    .burger-container.dark.white-back {
        background-color: #fff;
    }
    .dark-layer.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 9;
       
    }
    .burger-container.dark > .logo {
        display: block;
    }
    .burger-container.dark > .burger {
        transition: transform 0.2s linear;
        transform: rotate(90deg);      
    }
    /* Not only */
    .notonly-content {
        width: 100%;
        text-align: center;
    }
    .notonly-title {
        font-size: 25px;
    }
    .notonly {
        gap: 105px;
    }
    .notonly > img {
        height: 272px;
        width: 260px;
               
    }
    /* About section */
    .about {
        padding: 42px 0;
    }
    .about-inner {
        gap: 42px;
    }
    .about-content {
        width: 100%;
        padding: 0 15px;
    }
    .section-title {
        font-size: 25px;
        text-align: center;
    }
    .about-text {
        text-align: justify;
    }
    p.about-text:not(:last-child) {
        margin: 25px 0 22px;
    }
    .about img {
        height: 354px;
        width: 260px;
    }
    /* Our friends */
    .ourfriends { 
        padding: 42px 0;
    }
    .ourfriends-slider { 
        margin: 42px 0 114px;
    }
    .ourfriends-nav {
        width: 180px;
        left: 50%;
        top: 0;
        transform: translate(-50%, 455px);
        z-index: 1;
    }
    .ourfriends-slider-wrapper {
        width: 300px;
        padding-left: 15px;
        gap: 30px;
    }
    /* Help */
    .help-inner {
        padding: 42px 0;
    }
    .help-container {
        justify-content: space-between;
        margin-top: 42px;
        row-gap: 30px;
        column-gap: 30px;
    }
    .help-item {
        width: 45%;
    }
    .help-item img {
        margin-bottom: 19px;
        width: 50px;
    }
    .help-item p {
        font-size: 15px;
    }
    /* In addition */
    .inaddition {
        padding: 42px 0;
    }
    .inaddition-inner {
        gap: 42px;
    }
    .inaddition-content {
        width: 100%;
        text-align: center;
    }
    .inaddition-inner > img{
        width: 260px;
    }
    .inaddition-bank-title {
        letter-spacing: 0;
    }
    .inaddition-credit-card > span {
        font-size: 15px;
        line-height: 1.1;
    }
    .inaddition-bank-text {
        text-align: justify;
        margin: 20px 10px 0;
    }
    /* Footer */
    .footer-inner {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .footer-contact,
    .footer-address {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .footer-contact {
        align-items: center;
    }
    .footer-contact .footer-item:first-of-type {
        margin: 0;
    }
    .footer-address .footer-item:first-of-type {
        margin: 0;
    }
    .footer-inner > img {
        width: 260px;
    }
    
    
}